body{
  margin: 0;
  padding: 0;
}

.homePage{
    background-image: url('https://images.pexels.com/photos/3569518/pexels-photo-3569518.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
  }

  .loginPage{
    background-image: url('https://images.pexels.com/photos/3014012/pexels-photo-3014012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
  }

  .createUserPage {
    background-image: url('https://images.pexels.com/photos/196667/pexels-photo-196667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
  }

  .dashboard{
    background-image: url('https://images.pexels.com/photos/242124/pexels-photo-242124.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
  }

  .dashboardValues{
    background-image: url('https://images.pexels.com/photos/1146802/pexels-photo-1146802.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }

  


  